<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Law ChatBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{margin-top:20px;}

        .chat-online {
            color: #34ce57
        }

        .chat-offline {
            color: #e4606d
        }

        .chat-messages {
            display: flex;
            flex-direction: column;
            max-height: 800px;
            overflow-y: scroll
        }

        .chat-message-left,
        .chat-message-right {
            display: flex;
            flex-shrink: 0
        }

        .chat-message-left {
            margin-right: auto
        }

        .chat-message-right {
            flex-direction: row-reverse;
            margin-left: auto
        }
        .py-3 {
            padding-top: 1rem!important;
            padding-bottom: 1rem!important;
        }
        .px-4 {
            padding-right: 1.5rem!important;
            padding-left: 1.5rem!important;
        }
        .flex-grow-0 {
            flex-grow: 0!important;
        }
        .border-top {
            border-top: 1px solid #dee2e6!important;
        }
    </style>

</head>

<body>
<main class="content">
    <div class="container p-0">

        <h1 class="h3 mb-3">Law Chat</h1>

        <div class="card">
            <div class="row g-0">
                
                <!-- 對話項目 -->
                <div class="col-12 col-lg-5 col-xl-3 border-right">
                    <!-- 對話項目 內容搜尋 -->
                    <!-- <div class="px-4 d-none d-md-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control my-3" placeholder="Search...">
                            </div>
                        </div>
                    </div> -->

                    <!-- 對話項目紀錄 -->
                    <a href="#" class="list-group-item list-group-item-action border-0">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1 ml-3">
                                Dialog1
                            </div>
                        </div>
                    </a>
                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>

                <!-- 各項目對話框 -->
                <div class="col-12 col-lg-7 col-xl-9">

                    <!-- 對話框 標題 -->
                    <!-- <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>Sharon Lessman</strong>
                                <div class="text-muted small"><em>Typing...</em></div>
                            </div>

                        </div>
                    </div> -->

                    <!-- 對話內容 -->
                    <div class="position-relative">
                        <div id="contArea" class="chat-messages p-4">
                            <div class="chat-message-left pb-4">
                                <div>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">LawBot</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">title</div>
                                    歡迎使用 LawChat !!<br> 請輸入您想詢問的法律問題
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 輸入及傳送按鈕 -->
                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <form id="myform">
                            <div class="input-group">                            
                                <input id="input" type="text" class="form-control" placeholder="Type your message">
                                <button id="btnSend" class="btn btn-primary">Send</button>                            
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
</main>



<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
<!-- <script src="./index.js"></script> -->
<script>
    const dialogList = [] ;
    
    document.getElementById('myform').addEventListener("submit", function(event){
        // 阻止表單的默認提交行為
        event.preventDefault();

        const inp = document.getElementById('input');
        const contArea = document.getElementById('contArea');
        
        let xhr = new XMLHttpRequest();
        xhr.open("POST","/process_data" ,true);
        xhr.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function(){
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
                var Response = JSON.parse(xhr.responseText)

                // show出所有對話
                function render (dialogList){
                    let htmlStr = `
                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                            <div class="text-muted small text-nowrap mt-2">LawBot</div>
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                            <div class="font-weight-bold mb-1">title</div>
                            歡迎使用 LawChat !!<br> 請輸入您想詢問的法律問題
                        </div>
                    </div>
                    `
                    dialogList.forEach(function(item){
                        htmlStr += `        
                        <div class="chat-message-right pb-4">
                            <div>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                <div class="text-muted small text-nowrap mt-2">You</div>
                            </div>
                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                <div class="font-weight-bold mb-1">title</div>
                                ${item.You}
                            </div>
                        </div>

                        <div class="chat-message-left pb-4">
                            <div>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                <div class="text-muted small text-nowrap mt-2">LawBot</div>
                            </div>
                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                <div class="font-weight-bold mb-1">title</div>
                                ${item.LawBot}
                            </div>
                        </div>
                        `
                    }
                    )

                    contArea.innerHTML = htmlStr

                }

                
                // get 所有輸入的內容
                function getInfo(){
                    dialogList.push(
                        {
                            You : inp.value,
                            LawBot : Response.RobotReply
                        }
                    )
                    console.log(dialogList)
                }

                getInfo(dialogList)
                render(dialogList)

                // 輸入 傳送 BtnClick keypressEnter
                // btnS.addEventListener("click" , function(){
                //     getInfo(dialogList)
                //     render(dialogList)
                // }
                // )
                // inp.addEventListener("keypress" , function(e){
                //     if (e.key === "Enter") {
                //         getInfo(dialogList)
                //         render(dialogList)
                //     }
                // }
                // )

                console.log(dialogList)

            }
        };
        xhr.send("UserInput="+inp.value);

    });
    
</script>




</body>
</html>